* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #2C2C46;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

.show-large { display: none; }
.hide-large { display: block; }
@media(min-width: 1200px){
  .show-large{ display: block; }
  .hide-large { display: none; }
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  font-family: 'Rubik';
  color: #2C2C46;
}

h1 {
	font-weight: 500;
	font-size: 54px;
  line-height: 60px;
}

h2 {
	font-weight: 500;
	font-size: 40px;
	line-height: 44px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-weight: 300;
  font-size: 24px;
}

h6 {
  font-weight: 500;
  font-size: 16px;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

a {
  text-decoration: none;
}

section {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

img, svg {
  border: none;
}

.container {
	display: -ms-flexbox;
	display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  h1 {
  	font-size: 28px;
    line-height: 34px;
  }

  h2 {
  	font-size: 22px;
  	line-height: 28px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
  }

  p {
  	font-size: 13px;
  	line-height: 22px;
  }

  a {
    font-size: 13px;
  }
}

/*  ~~~~~~~~~~  HEADER  ~~~~~~~~~~  */

header {
  position: relative;;
  z-index: 1000;
  height: 90px;
  width: 100vw;
  background-color: white;
}

.header_nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 auto;
  padding: 30px 100px;
  max-width: 1200px;
}

.header_links > * {
  padding: 0px 20px;
}

@media screen and (max-width: 700px) {
  .header_nav {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 20px 20px;
  }

  .header_nav > img {
    width: 100px;
    padding-bottom: 20px;
  }

  .header_links > * {
    padding: 0px 10px;
    text-shadow: 0px 0px #4CFFFA;
    transition: all 200ms ease;
  }
}

.header_links > *:hover {
  text-shadow: 2px 2px #4CFFFA;
  -ms-transform: scale(1.02);
      transform: scale(1.02);
}

/*  ~~~~~~~~~~  HOMEPAGE  ~~~~~~~~~~  */


.homepage {
  position: relative;
  top: -50px;
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: space-between;
      justify-content: space-between;
  padding: 0 100px;
}

.homepage_globe {
  position: relative;
  z-index: 1;
  top: 120px;
  right: 20%;
  width: 95;
}

.homepage_title {
  position: relative;
  z-index: 3;
  padding-bottom: 10px;
}

.homepage_subtitle {
  position: relative;
  z-index: 3;
  padding-bottom: 40px;
  max-width: 500px;
}

.homepage_chat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  left: 2%;
  padding-top: 150px;
  width: 350px;
}



.homepage_chat > * {
  padding: 20px;
  width: 90%;
}

#chat-one, #chat-three {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  opacity: 0;
}

#chat-two {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0;
}

@media screen and (max-width: 700px) {
  .homepage {
    padding: 0px 40px;
  }
  .homepage_chat {
    display: none;
  }

  .homepage_globe {
    top: 150px;
    width: 80%;
    right: 30%;
  }

  .homepage_title {
    padding: 60px 0px 20px 0px;
  }
}



/*  ~~~~~~~~~~  SLACK BUTTON  ~~~~~~~~~~  */

.slack_button {
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  transition: all 300ms ease;
}

.slack_button:hover {
  -ms-transform: scale(1.08);
      transform: scale(1.08);
  box-shadow: 0 0 40px rgba(0,0,0,.15);
}

.sb_large {
  height: 80px;
  border-radius: 12px;
}


/*  ~~~~~~~~~~  SLACK  ~~~~~~~~~~  */

.slack {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 150px 100px;
  max-width: 1200px;
  margin: 0 auto;
}

#slack_illustration {
  width: 150%;
  max-width: 1200px;
}

.slack_window {
  position: relative;
  right: 30%;
}

.slack_info {
  padding-left: 10px;
}

.slack_info > h2 {
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .slack {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 150px 40px;
  }
}

/*  ~~~~~~~~~~  WORKFLOW  ~~~~~~~~~~  */

.workflow {
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1200px;
  padding: 0px 100px 150px 100px;
}

.workflow_card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 200px;
}

.workflow_rev {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.workflow_info {
  width: 45%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10px;
}

.workflow_info > h2 {
  padding-bottom: 20px;
}

.workflow_img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
}

.workflow_img img {
  width: 90%;
}

@media screen and (max-width: 700px) {

  .workflow {
    padding: 0px 40px 100px 40px;
  }

  .workflow_info {
    width: 100%;
  }

  .workflow_img {
    width: 100%;
  }

  .workflow_card {
    padding-top: 0px;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

/*  ~~~~~~~~~~  WIDGETS  ~~~~~~~~~~  */

.widgets {
  width: 100%;
  height: 110vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  /*box-shadow: 0 0 30px rgba(0,0,0,.15);*/
  /*-ms-transform: rotate(-7deg);*/
      /*transform: rotate(-7deg);*/
  padding: 100px 0 100px 0;
}

.widgets > * {
  /*-ms-transform: rotate(7deg);
      transform: rotate(7deg);*/
  margin: 0 auto;
}

.widgets_title {
  text-align: center;
  padding: 100px;
}

.widget_cloud {
  width: 90%;
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.widget_cloud > img {
  width: 90%;
}

@media screen and (max-width: 700px) {

  .widgets_title {
    width: 60%;
    text-align: center;
    padding: 40px;
  }

  .widget_cloud {
    width: 120%;
  }

}


/*  ~~~~~~~~~~  COMPANIES  ~~~~~~~~~~  */

.companies {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 150px;
}

.companies_logo {
  padding-top: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.companies_logo > img {
  padding: 5px;
  width: 45%;
}

@media screen and (max-width: 700px) {

  .companies {
    padding-top: 100px;
  }

  .companies_title {
    text-align: center;
    width: 60%;
  }

  .companies_logo {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .companies_logo > img {
    width: 80%;
  }
}



/*  ~~~~~~~~~~  SOCIAL LOVE  ~~~~~~~~~~  */

.social {
  width: 120vw;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 200px;
}

.social_title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 60px;
}

.social_twitter h2 {
  text-shadow: 0px 0px #4CFFFA;
  transition: all 200ms ease;
}
.social_twitter h2:hover {
  text-shadow: 3px 3px #4CFFFA;
  -ms-transform: scale(1.02);
      transform: scale(1.02);
}

.social_collection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.social_row_one > ul, .social_row_two > ul {
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.social_row_two {
  position: relative;
  left: 100px;
}

.social_card {
  padding: 20px;
}

.social_card_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-bottom: 20px;
}

.social_card_info > img {
  width: 40px;
  border-radius: 6px;
}

.social_card_content {
  padding-top: 10px;
}

.social_card_info_links {
  padding-left: 20px;
}

.social_card_link {
  list-style: none;
  width: 20vw;
  min-width: 250px;
  max-width: 400px;
  margin: 10px;
  border: 1px solid #E6EAEB;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(0,0,0,.2);
  transition: all 200ms ease;
}

.social_card_link:hover {
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  -ms-transform: scale(1.02);
      transform: scale(1.02);
  transition: all 200ms ease;
}

@media screen and (max-width: 700px) {

  .social {
    padding-bottom: 100px;
  }

  .social_title h2 {
    padding-bottom: 20px;
    font-size: 36px;
  }

  .social_collection {
    display: none;
  }
}

/*  ~~~~~~~~~~  ENDING  ~~~~~~~~~~  */

.ending {
  padding: 0px 0px 200px 0px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.ending_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.ending_logo {
  padding-bottom: 20px;
}

.ending_title {
  padding-bottom: 40px;
}



/*  ~~~~~~~~~~  FOOTER  ~~~~~~~~~~  */

footer {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #F4F6F6;
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.footer > div {
  padding: 0px 50px;
}

.footer_info {
	display: -ms-flexbox;
	display: flex;
  width: 50%;
  max-width: 600px;
	-ms-flex-direction: column;
	    flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.fa {
  font-size: 30px;
  color: #2C2C46;
}

.social_links {
  padding-top: 10px;
}

.social_links a, .social_links i {
  padding-right: 10px;
  transition: all 200ms ease;
}

.social_links a:hover, .social_links i:hover {
  -ms-transform: scale(.90);
      transform: scale(.90);
  opacity: .8;
}

@media screen and (max-width: 700px) {

  .footer {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }

  .footer > div {
    padding: 0px 40px;
  }

  .footer_info {
    width: 100%;
    padding-bottom: 60px;
  }
}
