* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #2C2C46;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.show-large { display: none; }
.hide-large { display: block; }
@media(min-width: 1200px){
  .show-large{ display: block; }
  .hide-large { display: none; }
}

strong {
  font-weight: 500;
}

h1 {
	font-family: 'Rubik';
	font-weight: 500;
	font-size: 30px;
	color: #2C2C46;
}

h2 {
	text-align: center;
	font-family: 'Rubik';
	font-weight: 300;
	color: #333;
	font-size: 36px;
	line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

p {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #2C2C46;
}

a {
  text-decoration: none;
  color: #2C2C46;
}

.container {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1s;
  margin: 0 auto;
}


/*TITLE BLOCK*/
.title_block {
	display: flex;
  max-width: 500px;
	flex-direction: column;
}

.header_info {
  margin-left: 5%;
}
.header_info p {
  margin-right: 10px;
  width: 30vw;
}

.title_block h2 {
  text-align: left;
}

.title_block object {
	width: 250px;
}



/*SECTION*/
.section {
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  align-items: center;
  max-width: 1200px;
  z-index: 3;
}



/*SECTION REVERSE*/
.section_reverse {
  display: flex;
  margin: 0 auto;
  margin-top: -100px;
  align-items: center;
  max-width: 1200px;
  z-index: 3;
}

.slack_window object {
  max-width: 900px;
}

.slack_window {
  width: 70%;
  position: relative;
  right: 20%;
}

.slack_info {
  position: relative;
  right: 5%;
}

.slack_info p {
  text-align: left;
}

.slack_info h2 {
  text-align: left;
}


/*CARD*/
.card {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 150px;
  align-items: center;
}

.card_info {
	display: flex;
  max-width: 400px;
  margin-right: 100px;
	flex-direction: column;
}

.card_info h2 {
	text-align: left;
}

.card_info p {
	text-align: left;
}



/*CARD REVERSE*/
.card_reverse {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 150px;
  align-items: center;
  z-index: 3;
}

.card_info_r {
	display: flex;
  max-width: 600px;
  margin-left: 100px;
	flex-direction: column;
}

.card_info_r h2 {
	text-align: left;
}

.card_info_r p {
	text-align: left;
}


/*FEATURES*/
.feature_set {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -500px;
  flex-flow: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 20px 60px 0 60px;
}

.feature_img {
  display: flex;
  margin-bottom: 10px;
  height: 80px;
  margin-bottom: 40px;
}

.feature_info {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
}

.feature h2 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
}

.feature p {
  margin: 0px;
  text-align: center;
}
/*  PRICING  */

.price_cards {
  display: flex;
}

.price_tier {
  width: 400px;
  margin: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f4f6f6;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(0,0,0,.2);
  transition: 300 ease;
}

/*.price_tier:hover {
  border: 1px solid white;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
}*/

/*.free:not(:hover) {
  border: 1px solid #f4f6f6;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(0,0,0,.2);
  transition: 300 ease;
}*/
.pro {
  width: 400px;
  margin: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f4f6f6;
  border-radius: 6px;
  box-shadow: 0 0 0px rgba(0,0,0,.2);
  transition: 300 ease;
}

.free {
  width: 400px;
  margin: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid white;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  transition: 300 ease;
}


.tier_illustration {
  height: 300px;
}
/*FOOTER*/

.section_footer {
  display: flex;
  align-items: flex-start;
}

.footer {
  background-color: #F4F6F6;
  margin-top: 200px;
  display: flex;
  width: 100vw;
  padding-top: 20px;
}

.footer_info {
	display: flex;
  max-width: 400px;
  margin-right: 200px;
	flex-direction: column;
}

.footer_info p {
	text-align: left;
}

.footer_info h2 {
	text-align: left;
}



/*LEGAL*/
.legal {
  background-color: #F4F6F6;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 100px;
}

.legal_content {
  max-width: 1200px;
}


/*CHAT WINDOW*/
.main_illustration {
  position: relative;
	max-width: 800px;
  left: 10%;
  /*bottom: 50px;*/
}


/*ADD TO SLACK BUTTON*/
.addSlack {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 5px 10px 5px;
	margin-top: 100px;
	margin-bottom: 100px;
	align-items: center;
	width: 300px;
	border: 1px solid #B3B3C0;
	border-radius: 6px;
	box-shadow: 8px 8px rgba(76,255,250,0);
	transition: 200ms ease;
}

.addSlack object {
	width: 40px;
}

.addSlack h1 {
	position: relative;
	margin: 0;
}

.addSlack h1:after {
	content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 4px solid rgba(76,255,250,1);
  transition: 400ms ease;
}

.addSlack h1:hover:after {
	width: 100%;
}

.addSlack:hover {
	border: 1px solid #2C2C46;
	box-shadow: 8px 8px rgba(76,255,250,1);
	padding: 10px 20px 10px 10px;
}

/*END ADD TO SLACK BUTTON*/

/*PARALLAX*/
.above {
  position: relative;
  z-index: 10;
}

.below {
  position: relative;
  z-index: 1;
}

.triangle-one {
  right: 52%;
}

.squiggle-one {
  left: 45%;
  top: 300px;
}

.circle-one {
  left: 3%;
  bottom: 100px;
}

.squiggle-two {
  right: 48%;
}

.circle-two {
  right: 43%;
  top: 350px;
}

.squiggle-three {
  left: 58%;
  bottom: 150px;
}

.circle-three {
  left: 35%;
  top: 200px;
}

.circle-four {
  right: 58%;
  top: 550px;
}

.shape-one {
  right: 49%;
  top: 500px
}

.circle-five {
  position: relative;
  right: 42%;
  bottom: 620px;
}

.circle-six {
  position: relative;
  right: 42.5%;
  bottom: 820px;
}

.triangle-two {
  left: 40%;
  top: 300px;
}

.squiggle-four {
  right: 58%;
  top: 1000px;
}

.circle-seven {
  left : 50%;
  top: 2000px;
}

.squiggle-five {
  left: 5%;
  bottom: 280px;
}

@media screen and (max-width: 700px) {

  .above {
    display: none;
  }

  h1 {
  	font-size: 20px;
  }

  h2 {
    text-align: left;
  	font-size: 22px;
  	line-height: 24px;
  }

  h3 {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  p {
  	font-size: 12px;
  	line-height: 20px;
  }

.section {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 60px;
}

.section_reverse {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: -300px;
}

.header_info {
  margin-left: 0;
}
.header_info p, h2 {
  width: 80vw;
  margin-right: 0;
}

.title_block svg {
    width: 150px;
}

.main_illustration {
  bottom: 50px;
}

.main_illustration svg {
  position: relative;
  left: 10%;
  max-width: 400px;
}

.slack_window {
  width: 70%;
  position: relative;
  left: -100px;
}

.slack object {
  position: relative;
  max-width: 800px;
  right: 80%;
}

.slack_info {
  margin-left: 10px;
}

.slack_info p, h2 {
  width: 80vw;
  max-width: 250px;
  margin-right: 0;
}

.card {
  display: flex;
  margin-top:  80px;
  flex-direction: column;
}

.card_info {
  order: 2;
  align-items: center;
  width: 80vw;
  margin: 0;
  margin-top: 20px;
}

.card_info h2 {
  text-align: center;
}

.card_info p {
  text-align: center;
}

.card_img object{
  width: 200px;
}

.card_reverse {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
}

.card_info_r {
  align-items: center;
  order: 2;
  width: 80vw;
  margin: 0;
  margin-top: 20px;
}

.card_info_r h2 {
  text-align: center;
}

.card_info_r p {
  text-align: center;
}

.feature_set {
  margin-top: -200px;
}

.feature {
  margin: 0px;
  width: 60vw;
}

.feature_img {
  margin-bottom: 0;
}
.feature object {
  width: 80px;
}

.feature h2 {
  text-align: center;
  margin-bottom: 10px;
}

.feature p {
  text-align: center;
}

.footer_info {
  margin-right: 0;
  max-width: 300px;
}

.footer_info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer_info p {
  margin-top: 0;
}

.legal {
  justify-content: flex-start;
  padding-left: 50px;
}

.squiggle-one {
  top: 0;
}

.circle-five {
  display: none;
}

.circle-six {
  display: none;
}

.triangle-two {
  top: 900px;
}

}


.tiers ul {
  margin: 0; padding: 0;
}
.tiers li {
  display: block;
}
/* MAILCHIMP FORM */
#mc_embed_signup {
  background-color: #F4F6F6;
}

#mc_embed_signup h2 {
  text-align: left;
}
.mc-field-group {
  display: flex;
  flex-direction: column;
}
.mc-row-one {
  display: flex;
  justify-content: space-between;
}
.mc-name {
  margin-right: 40px;
}

.mc-row-two {
  margin-top: 20px;
}

label {
  font-family: 'Rubik';
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #2C2C46;
}

input {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  height: 40px;
}

.button {
  height: 40px;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 20px;
  color: #2C2C46;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  border: 1px solid #B3B3C0;
  border-radius: 6px;
  box-shadow: 8px 8px rgba(76,255,250,0);
  transition: 200ms ease;
}
.button:hover {
  border: 1px solid #2C2C46;
  box-shadow: 8px 8px rgba(76,255,250,1);
}
