* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #2C2C46;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.show-large { display: none; }
.hide-large { display: block; }
@media(min-width: 1200px){
  .show-large{ display: block; }
  .hide-large { display: none; }
}

strong {
  font-weight: 500;
}

h1 {
	font-family: 'Rubik';
	font-weight: 500;
	font-size: 30px;
	color: #2C2C46;
}

h2 {
	text-align: center;
	font-family: 'Rubik';
	font-weight: 300;
	color: #333;
	font-size: 36px;
	line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

p {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #2C2C46;
}

a {
  text-decoration: none;
  color: #2C2C46;
}

.container {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1s;
  margin: 0 auto;
}


/*TITLE BLOCK*/
.title_block {
	display: flex;
  max-width: 500px;
	flex-direction: column;
}

.header_info {
  margin-left: 5%;
}
.header_info p {
  margin-right: 10px;
  width: 30vw;
}

.title_block h2 {
  text-align: left;
}

.title_block object {
	width: 250px;
}



/*SECTION*/
.section {
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  align-items: center;
  max-width: 1200px;
  z-index: 3;
}



/*SECTION REVERSE*/
.section_reverse {
  display: flex;
  margin: 0 auto;
  margin-top: -100px;
  align-items: center;
  max-width: 1200px;
  z-index: 3;
}

.slack_window object {
  max-width: 900px;
}

.slack_window {
  width: 70%;
  position: relative;
  right: 20%;
}

.slack_info {
  position: relative;
  right: 5%;
}

.slack_info p {
  text-align: left;
}

.slack_info h2 {
  text-align: left;
}


/*CARD*/
.card {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 150px;
  align-items: center;
}

.card_info {
	display: flex;
  max-width: 400px;
  margin-right: 100px;
	flex-direction: column;
}

.card_info h2 {
	text-align: left;
}

.card_info p {
	text-align: left;
}



/*CARD REVERSE*/
.card_reverse {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 150px;
  align-items: center;
  z-index: 3;
}

.card_info_r {
	display: flex;
  max-width: 600px;
  margin-left: 100px;
	flex-direction: column;
}

.card_info_r h2 {
	text-align: left;
}

.card_info_r p {
	text-align: left;
}


/*FEATURES*/
.feature_set {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -500px;
  flex-flow: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 20px 60px 0 60px;
}

.feature_img {
  display: flex;
  margin-bottom: 10px;
  height: 80px;
  margin-bottom: 40px;
}

.feature_info {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
}

.feature h2 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
}

.feature p {
  margin: 0px;
  text-align: center;
}
/*  PRICING  */

 .price_cards {
   display: flex;
 }

 .price_tier {
   width: 400px;
   margin: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #f4f6f6;
   border-radius: 6px;
   box-shadow: 0 0 0px rgba(0,0,0,.2);
   transition: 300 ease;
 }

 .pro {
   width: 400px;
   margin: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #f4f6f6;
   border-radius: 6px;
   box-shadow: 0 0 0px rgba(0,0,0,.2);
   transition: all 300ms ease;
 }

.pro_tier_info {
  width: 275px;
}

 .free {
   width: 400px;
   margin: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 6px;
   border: 1px solid white;
   box-shadow: 0 0 30px rgba(0,0,0,.2);
   transition: all 300ms ease;
 }

 .free:hover {
   transform: scale(1.05);
   box-shadow: 0 0 60px rgba(0,0,0,.2);
 }


 .tier_illustration {
   height: 300px;
 }

/*FOOTER*/

.section_footer {
  display: flex;
  align-items: flex-start;
}

.footer {
  background-color: #F4F6F6;
  margin-top: 200px;
  display: flex;
  width: 100vw;
  padding-top: 20px;
}

.footer_info {
	display: flex;
  max-width: 400px;
  margin-right: 200px;
	flex-direction: column;
}

.footer_info p {
	text-align: left;
}

.footer_info h2 {
	text-align: left;
}



/*LEGAL*/
.legal {
  background-color: #F4F6F6;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 100px;
}

.legal_content {
  max-width: 1200px;
}


/*CHAT WINDOW*/
.main_illustration {
  position: relative;
	max-width: 800px;
  left: 10%;
  /*bottom: 50px;*/
}


/*ADD TO SLACK BUTTON*/
.slack_button {
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  transition: 150ms ease;
}

.slack_button:hover {
  height: 49px;
  box-shadow: 0 0 30px rgba(0,0,0,.25);
}

.slack_button:focus {
  height: 48px;
  box-shadow: 0 0 35px rgba(0,0,0,.3);
}

/*END ADD TO SLACK BUTTON*/

/*  INLINE LINK  */
.inline_link {
  cursor: pointer;
  padding: 0px;
  padding-bottom: 2px;
  background: white;
  border: none;
  font-size: 16px;
  color: #2c2c46;
  font-weight: 500;
  border-bottom: 2px solid #2C2C46;
  box-shadow: 0px 0px 0px #4CFFFA;
  transition: 300ms ease;
}

.inline_link:hover {
  box-shadow: 0px 2px 0px #4CFFFA;
}

.inline_link:focus {
  box-decoration-break: none;
  box-shadow: none;
  border: none
}

/*  PARALLAX  */
.above {
  position: relative;
  z-index: 10;
}

.below {
  position: relative;
  z-index: 1;
}

.triangle-one {
  right: 52%;
}

.squiggle-one {
  left: 42%;
  top: 300px;
}

.circle-one {
  left: 3%;
  bottom: 100px;
}

.squiggle-two {
  right: 48%;
}

.circle-two {
  right: 43%;
  top: 350px;
}

.squiggle-three {
  left: 58%;
  bottom: 150px;
}

.circle-three {
  left: 35%;
  top: 200px;
}

.circle-four {
  right: 58%;
  top: 550px;
}

.shape-one {
  right: 49%;
  top: 500px
}

.circle-five {
  position: relative;
  right: 42%;
  bottom: 620px;
}

.circle-six {
  position: relative;
  right: 42.5%;
  bottom: 820px;
}

.triangle-two {
  left: 40%;
  top: 300px;
}

.squiggle-four {
  right: 58%;
  top: 1000px;
}

.circle-seven {
  left : 50%;
  top: 2000px;
}

.squiggle-five {
  left: 5%;
  bottom: 280px;
}

@media screen and (max-width: 700px) {

  .above {
    display: none;
  }

  h1 {
  	font-size: 20px;
  }

  h2 {
    text-align: left;
  	font-size: 28px;
  	line-height: 24px;
  }

  h3 {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  p {
  	font-size: 12px;
  	line-height: 20px;
  }

.section {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 60px;
}

.section_reverse {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: -350px;
}

.header_info {
  margin-left: 0;
}
.header_info p, h2 {
  width: 80vw;
  margin-right: 0;
}

.title_block svg {
    width: 150px;
}

.main_illustration {
  bottom: 0px;
}

.main_illustration svg {
  position: relative;
  left: 10%;
  max-width: 400px;
}

.slack_window {
  width: 80%;
  position: relative;
  left: -10px;
}

.slack object {
  position: relative;
  max-width: 800px;
  right: 80%;
}

.slack_info {
  margin-left: 10px;
}

.slack_info p, h2 {
  width: 80vw;
  max-width: 250px;
  margin-right: 0;
}

.card {
  display: flex;
  margin-top:  100px;
  flex-direction: column;
}

.card_info {
  order: 2;
  align-items: center;
  width: 80vw;
  margin: 0;
  margin-top: 20px;
}

.card_info h2 {
  text-align: center;
}

.card_info p {
  text-align: center;
}

.card_img object{
  width: 250px;
}

.card_reverse {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
}

.card_info_r {
  align-items: center;
  order: 2;
  width: 80vw;
  margin: 0;
  margin-top: 20px;
}

.card_info_r h2 {
  text-align: center;
}

.card_info_r p {
  text-align: center;
}

.feature_set {
  justify-content: space-between;
  margin-top: -200px;
  padding: 20px;
}

.feature {
  margin: 0px;
  width: 40vw;
}

.feature_img {
  margin-bottom: 0;
}
.feature object {
  width: 50px;
}

.feature h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.feature p {
  text-align: center;
  width: 40vw;

}

.tiers h2 {
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
}

.price_cards {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.free {
  width: 300px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.pro {
  width: 300px;
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.pro_tier_info {
  width: 225px;
}

.free_tier_info {
  width: 225px;
}

.tier_illustration {
  height: 250px;
}

.tier_illustration object {
  position: relative;
  bottom: 25px;
  width: 250px;
}

.pro_feature {
  display: none;
}

.footer {
  margin-top: 40px;
}

.footer_info {
  margin-right: 0;
  max-width: 300px;
}

.footer_info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.footer_info p {
  margin-top: 0;
}

.legal {
  justify-content: flex-start;
  padding-left: 50px;
}

.squiggle-one {
  top: 0;
}

.squiggle-three {
  bottom: 0;
  left: 49%;
}

.squiggle-five {
  left: -40%;
  top: 600px;
}

.circle-five {
  display: none;
}

.circle-six {
  display: none;
}

.triangle-two {
  top: 400px;
}

}

/*.swiper-container {
  width: 350px;
}*/

.tiers ul {
  margin: 0; padding: 0;
}

/* MAILCHIMP FORM */
#mc_embed_signup {
  background-color: #F4F6F6;
}

#mc_embed_signup h2 {
  text-align: left;
}
.mc-field-group {
  display: flex;
  flex-direction: column;
}
.mc-row-one {
  display: flex;
  justify-content: space-between;
}
.mc-name {
  margin-right: 40px;
}

.mc-row-two {
  margin-top: 20px;
}

label {
  font-family: 'Rubik';
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #2C2C46;
}

input {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  height: 40px;
}

.button {
  height: 40px;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 20px;
  color: #2C2C46;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  border: 1px solid #B3B3C0;
  border-radius: 6px;
  box-shadow: 8px 8px rgba(76,255,250,0);
  transition: 200ms ease;
}
.button:hover {
  border: 1px solid #2C2C46;
  box-shadow: 8px 8px rgba(76,255,250,1);
}
