@font-face {
  font-family: 'pathicons';
  src:  url('static/fonts/pathicons.eot?l2024y');
  src:  url('static/fonts/pathicons.eot?l2024y#iefix') format('embedded-opentype'),
    url('static/fonts/pathicons.ttf?l2024y') format('truetype'),
    url('static/fonts/pathicons.woff?l2024y') format('woff'),
    url('static/fonts/pathicons.svg?l2024y#pathicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pwai-"], [class*=" pwai-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pathicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pwai-statusallgood-fill:before {
  content: "\e97e";
}
.pwai-statusallgood:before {
  content: "\e97f";
}
.pwai-statuscaution-fill:before {
  content: "\e980";
}
.pwai-statuscaution:before {
  content: "\e981";
}
.pwai-statusinfo-fill:before {
  content: "\e982";
}
.pwai-statusinfo:before {
  content: "\e983";
}
.pwai-other-fill:before {
  content: "\e979";
}
.pwai-other:before {
  content: "\e97a";
}
.pwai-highered-fill:before {
  content: "\e97b";
}
.pwai-highered:before {
  content: "\e97c";
}
.pwai-teamtraining-fill:before {
  content: "\e97d";
}
.pwai-communitynav-fill:before {
  content: "\e977";
}
.pwai-librarynav-fill:before {
  content: "\e978";
}
.pwai-ministrychurch-fill:before {
  content: "\e969";
}
.pwai-k12classroom-fill:before {
  content: "\e96a";
}
.pwai-prodevelopment-fill:before {
  content: "\e96b";
}
.pwai-coachingtutoring-fill:before {
  content: "\e96c";
}
.pwai-curriculumpub-fill:before {
  content: "\e96d";
}
.pwai-customertraining-fill:before {
  content: "\e96e";
}
.pwai-integration-fill:before {
  content: "\e96f";
}
.pwai-integration:before {
  content: "\e970";
}
.pwai-snippet-fill:before {
  content: "\e971";
}
.pwai-snippet:before {
  content: "\e972";
}
.pwai-support-fill:before {
  content: "\e973";
}
.pwai-support:before {
  content: "\e974";
}
.pwai-theme-fill:before {
  content: "\e975";
}
.pwai-theme:before {
  content: "\e976";
}
.pwai-communitynav:before {
  content: "\e967";
}
.pwai-librarynav:before {
  content: "\e968";
}
.pwai-coachingtutoring:before {
  content: "\e960";
}
.pwai-curriculumpub:before {
  content: "\e961";
}
.pwai-customertraining:before {
  content: "\e962";
}
.pwai-k12classroom:before {
  content: "\e963";
}
.pwai-ministrychurch:before {
  content: "\e964";
}
.pwai-prodevelopment:before {
  content: "\e965";
}
.pwai-teamtraining:before {
  content: "\e966";
}
.pwai-role-editor:before {
  content: "\e95a";
}
.pwai-role-learner:before {
  content: "\e95b";
}
.pwai-role-manager:before {
  content: "\e95c";
}
.pwai-role-member:before {
  content: "\e95d";
}
.pwai-role-moderator:before {
  content: "\e95e";
}
.pwai-role-teacher:before {
  content: "\e95f";
}
.pwai-paste-fill:before {
  content: "\e958";
}
.pwai-copy-fill:before {
  content: "\e959";
}
.pwai-paste:before {
  content: "\e956";
}
.pwai-copy:before {
  content: "\e957";
}
.pwai-arrowdownsmall:before {
  content: "\e950";
}
.pwai-arrowleftsmall:before {
  content: "\e951";
}
.pwai-arrowrightsmall:before {
  content: "\e952";
}
.pwai-arrowupmall:before {
  content: "\e953";
}
.pwai-password:before {
  content: "\e954";
}
.pwai-rocket:before {
  content: "\e955";
}
.pwai-settings-app:before {
  content: "\e94b";
}
.pwai-peopleboot-app:before {
  content: "\e94c";
}
.pwai-peopleedit-app:before {
  content: "\e94d";
}
.pwai-peoplesettings-app:before {
  content: "\e94e";
}
.pwai-filter:before {
  content: "\e94f";
}
.pwai-toolbox-fill:before {
  content: "\e949";
}
.pwai-toolbox:before {
  content: "\e94a";
}
.pwai-avatarlock-fill:before {
  content: "\e940";
}
.pwai-avatarlock:before {
  content: "\e948";
}
.pwai-notebookadd-app:before {
  content: "\e941";
}
.pwai-notebooklock-app:before {
  content: "\e942";
}
.pwai-peopleadd-app:before {
  content: "\e943";
}
.pwai-peoplelock-app:before {
  content: "\e944";
}
.pwai-scheduleadd-app:before {
  content: "\e945";
}
.pwai-schedulelock-app:before {
  content: "\e946";
}
.pwai-cancel-fill:before {
  content: "\e947";
}
.pwai-add-fill:before {
  content: "\e93f";
}
.pwai-switch:before {
  content: "\e93e";
}
.pwai-attend-fill:before {
  content: "\e914";
}
.pwai-audio-fill:before {
  content: "\e915";
}
.pwai-avatar-fill:before {
  content: "\e916";
}
.pwai-bell-fill:before {
  content: "\e917";
}
.pwai-commercetag-fill:before {
  content: "\e918";
}
.pwai-commercetag:before {
  content: "\e919";
}
.pwai-edit-fill:before {
  content: "\e91a";
}
.pwai-group-fill:before {
  content: "\e91b";
}
.pwai-groupadd-fill:before {
  content: "\e91c";
}
.pwai-lightbulb-fill:before {
  content: "\e91d";
}
.pwai-lightbulb:before {
  content: "\e924";
}
.pwai-listen-fill:before {
  content: "\e925";
}
.pwai-locked-fill:before {
  content: "\e926";
}
.pwai-lockedsmall-fill:before {
  content: "\e927";
}
.pwai-mail-fill:before {
  content: "\e928";
}
.pwai-pathcollapse-fill:before {
  content: "\e929";
}
.pwai-pathcollapse:before {
  content: "\e92a";
}
.pwai-pathexpand-fill:before {
  content: "\e92b";
}
.pwai-pathexpand:before {
  content: "\e92c";
}
.pwai-people-app:before {
  content: "\e92d";
}
.pwai-people-fill:before {
  content: "\e92e";
}
.pwai-read-fill:before {
  content: "\e92f";
}
.pwai-reply-fill:before {
  content: "\e930";
}
.pwai-search-fill:before {
  content: "\e931";
}
.pwai-settings-fill:before {
  content: "\e932";
}
.pwai-submit-fill:before {
  content: "\e933";
}
.pwai-teach-fill:before {
  content: "\e934";
}
.pwai-teach:before {
  content: "\e935";
}
.pwai-time-fill:before {
  content: "\e936";
}
.pwai-tip-fill:before {
  content: "\e937";
}
.pwai-todo-fill:before {
  content: "\e938";
}
.pwai-trashcan-fill:before {
  content: "\e939";
}
.pwai-unlocked-fill:before {
  content: "\e93a";
}
.pwai-unlockedsmall-fill:before {
  content: "\e93b";
}
.pwai-view-fill:before {
  content: "\e93c";
}
.pwai-watch-fill:before {
  content: "\e93d";
}
.pwai-analytics-app:before {
  content: "\e90e";
}
.pwai-commerce-app:before {
  content: "\e90f";
}
.pwai-notebook-app:before {
  content: "\e910";
}
.pwai-radar-app:before {
  content: "\e911";
}
.pwai-review-app:before {
  content: "\e912";
}
.pwai-schedule-app:before {
  content: "\e913";
}
.pwai-tip:before {
  content: "\e90d";
}
.pwai-group-add:before {
  content: "\e90b";
}
.pwai-group:before {
  content: "\e90c";
}
.pwai-commerce:before {
  content: "\e906";
}
.pwai-commercealt:before {
  content: "\e907";
}
.pwai-lockedsmall:before {
  content: "\e908";
}
.pwai-public:before {
  content: "\e909";
}
.pwai-unlockedsmall:before {
  content: "\e90a";
}
.pwai-subscriptionplan-cancel:before {
  content: "\e900";
}
.pwai-subscriptionplan-pause:before {
  content: "\e901";
}
.pwai-subscriptionplan:before {
  content: "\e902";
}
.pwai-password-change:before {
  content: "\e903";
}
.pwai-billing-change:before {
  content: "\e904";
}
.pwai-billing:before {
  content: "\e905";
}
.pwai-discussion:before {
  content: "\e666";
}
.pwai-add-mini:before {
  content: "\e685";
}
.pwai-edit:before {
  content: "\e686";
}
.pwai-like:before {
  content: "\e687";
}
.pwai-upload:before {
  content: "\e688";
}
.pwai-bell:before {
  content: "\e684";
}
.pwai-link:before {
  content: "\e67d";
}
.pwai-filearchive:before {
  content: "\e67e";
}
.pwai-fileaudio:before {
  content: "\e67f";
}
.pwai-filecode:before {
  content: "\e680";
}
.pwai-filedoc:before {
  content: "\e681";
}
.pwai-fileimage:before {
  content: "\e682";
}
.pwai-filevideo:before {
  content: "\e683";
}
.pwai-watch-alt:before {
  content: "\e663";
}
.pwai-moveupdown:before {
  content: "\e67b";
}
.pwai-moveupdownalt:before {
  content: "\e67c";
}
.pwai-facebook-o:before {
  content: "\e67a";
}
.pwai-gridview-lgovals:before {
  content: "\e678";
}
.pwai-gridview-smovals:before {
  content: "\e679";
}
.pwai-undo-o:before {
  content: "\e676";
}
.pwai-undo:before {
  content: "\e677";
}
.pwai-achievement:before {
  content: "\e674";
}
.pwai-moneyback:before {
  content: "\e675";
}
.pwai-lifetimeaccess:before {
  content: "\e661";
}
.pwai-moderated:before {
  content: "\e662";
}
.pwai-responsive-alt:before {
  content: "\e664";
}
.pwai-responsive:before {
  content: "\e665";
}
.pwai-socialshare:before {
  content: "\e689";
}
.pwai-star1:before {
  content: "\e667";
}
.pwai-star2:before {
  content: "\e668";
}
.pwai-star3:before {
  content: "\e669";
}
.pwai-star4:before {
  content: "\e66a";
}
.pwai-star5:before {
  content: "\e66b";
}
.pwai-star6:before {
  content: "\e66c";
}
.pwai-star7:before {
  content: "\e66d";
}
.pwai-star8:before {
  content: "\e66e";
}
.pwai-star9:before {
  content: "\e66f";
}
.pwai-starempty:before {
  content: "\e670";
}
.pwai-starfull:before {
  content: "\e671";
}
.pwai-todo-alt:before {
  content: "\e672";
}
.pwai-expert:before {
  content: "\e673";
}
.pwai-googleplus-o:before {
  content: "\e648";
}
.pwai-linkedin-o:before {
  content: "\e65b";
}
.pwai-pinterest-o:before {
  content: "\e65c";
}
.pwai-rss-o:before {
  content: "\e65d";
}
.pwai-twitter-o:before {
  content: "\e65e";
}
.pwai-vimeo-o:before {
  content: "\e65f";
}
.pwai-youtube-o:before {
  content: "\e660";
}
.pwai-image:before {
  content: "\e619";
}
.pwai-page:before {
  content: "\e647";
}
.pwai-note:before {
  content: "\e659";
}
.pwai-notes:before {
  content: "\e65a";
}
.pwai-chevrondowndouble:before {
  content: "\e653";
}
.pwai-chevronleftdouble:before {
  content: "\e654";
}
.pwai-chevronrightdouble:before {
  content: "\e655";
}
.pwai-chevronupdouble:before {
  content: "\e656";
}
.pwai-content-collapse:before {
  content: "\e657";
}
.pwai-content-expand:before {
  content: "\e658";
}
.pwai-trashcan:before {
  content: "\e651";
}
.pwai-move:before {
  content: "\e652";
}
.pwai-dock-bottom:before {
  content: "\e649";
}
.pwai-dock-side:before {
  content: "\e64a";
}
.pwai-gridview-large:before {
  content: "\e64b";
}
.pwai-gridview-small:before {
  content: "\e64c";
}
.pwai-listview-basic:before {
  content: "\e64d";
}
.pwai-listview-fancy:before {
  content: "\e64e";
}
.pwai-print:before {
  content: "\e64f";
}
.pwai-search:before {
  content: "\e650";
}
.pwai-mail:before {
  content: "\e646";
}
.pwai-settings:before {
  content: "\e638";
}
.pwai-reply:before {
  content: "\e639";
}
.pwai-reply-o:before {
  content: "\e63a";
}
.pwai-ellipses:before {
  content: "\e63b";
}
.pwai-chevronup:before {
  content: "\e63c";
}
.pwai-chevronup-o:before {
  content: "\e63d";
}
.pwai-chevronright:before {
  content: "\e63e";
}
.pwai-chevronright-o:before {
  content: "\e63f";
}
.pwai-chevronleft:before {
  content: "\e640";
}
.pwai-chevronleft-o:before {
  content: "\e641";
}
.pwai-chevrondown:before {
  content: "\e642";
}
.pwai-chevrondown-o:before {
  content: "\e643";
}
.pwai-chatfollow:before {
  content: "\e644";
}
.pwai-chat:before {
  content: "\e645";
}
.pwai-tracks:before {
  content: "\e637";
}
.pwai-subscription:before {
  content: "\e62b";
}
.pwai-mobile:before {
  content: "\e62c";
}
.pwai-metrics:before {
  content: "\e62d";
}
.pwai-media:before {
  content: "\e62e";
}
.pwai-marketplace:before {
  content: "\e62f";
}
.pwai-integrations:before {
  content: "\e630";
}
.pwai-feedback:before {
  content: "\e631";
}
.pwai-curriculum:before {
  content: "\e632";
}
.pwai-community:before {
  content: "\e633";
}
.pwai-cloud:before {
  content: "\e634";
}
.pwai-builder:before {
  content: "\e635";
}
.pwai-brand:before {
  content: "\e636";
}
.pwai-people:before {
  content: "\e623";
}
.pwai-people-o:before {
  content: "\e624";
}
.pwai-path:before {
  content: "\e625";
}
.pwai-path-o:before {
  content: "\e626";
}
.pwai-info:before {
  content: "\e627";
}
.pwai-info-o:before {
  content: "\e628";
}
.pwai-avatar:before {
  content: "\e629";
}
.pwai-avatar-o:before {
  content: "\e62a";
}
.pwai-take:before {
  content: "\e622";
}
.pwai-watch:before {
  content: "\e600";
}
.pwai-view:before {
  content: "\e601";
}
.pwai-unlocked:before {
  content: "\e602";
}
.pwai-unlocked-o:before {
  content: "\e603";
}
.pwai-to-do:before {
  content: "\e604";
}
.pwai-time:before {
  content: "\e605";
}
.pwai-submit:before {
  content: "\e606";
}
.pwai-share:before {
  content: "\e607";
}
.pwai-read:before {
  content: "\e608";
}
.pwai-locked:before {
  content: "\e609";
}
.pwai-locked-o:before {
  content: "\e616";
}
.pwai-location:before {
  content: "\e615";
}
.pwai-listen:before {
  content: "\e617";
}
.pwai-listback:before {
  content: "\e618";
}
.pwai-list:before {
  content: "\e61a";
}
.pwai-download:before {
  content: "\e61b";
}
.pwai-check:before {
  content: "\e61c";
}
.pwai-check-o:before {
  content: "\e61d";
}
.pwai-cancel:before {
  content: "\e61e";
}
.pwai-cancel-o:before {
  content: "\e61f";
}
.pwai-audio:before {
  content: "\e620";
}
.pwai-attend:before {
  content: "\e621";
}
.pwai-survey:before {
  content: "\e60a";
}
.pwai-arrowup:before {
  content: "\e60b";
}
.pwai-arrowup-o:before {
  content: "\e60c";
}
.pwai-arrowright:before {
  content: "\e60d";
}
.pwai-arrowright-o:before {
  content: "\e60e";
}
.pwai-arrowleft:before {
  content: "\e60f";
}
.pwai-arrowleft-o:before {
  content: "\e610";
}
.pwai-arrowdown:before {
  content: "\e611";
}
.pwai-arrowdown-o:before {
  content: "\e612";
}
.pwai-add:before {
  content: "\e613";
}
.pwai-add-o:before {
  content: "\e614";
}
